/* font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; 
  Normalizacion: */

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* esto mantiene el ancho y alyo a pesar de padding y border */
    font-family: 'montserrat', sans-serif;
    list-style: none;/* quitar los puntos y decoracion de las listas */
    text-decoration: none; /*esto quita el subrayado de los enlases*/
    color: white;
}

body{
  background-color: black; /*todo: borrar cuando tengamos fondo final*/
}

header{
  position: fixed; /*esto hace que el header se quede fijo en la parte superior*/
  right: 0;
  top: 0;
  z-index: 100; /*esto hace que el header se muestre por encima*/
  width: 100%;
  display: flex; /*esto hara que los elementos se pongan en linea*/
  align-items: center; /*centra verticalmente*/
  justify-content: space-between; /*que los elementos se separen*/
  padding: 15px 3%; /* vertical 15 horizontal 3*/
  background-color: transparent;
}

.logo {
  font-size: 30px; /*tamaño*/
  font-weight: 500; /*grueso de la letra*/
}

.navlist {
  display: flex; /*esto sirve para que los elementos de la lista ul se pongan en linea*/
}

.navlist a {
  margin-left: 60px; /*esto es para separar las palabras*/
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent; /*esto es un subrrayado transparente*/
  transition: all .5s ease; /*esto es para transicionar todas las carac del navlist*/
}

.navlist a:hover {
  border-bottom: 2px solid white; /*subrrayado blanco que aparece cuando hacemos hover (cuando estamos encima con el mouse)*/
}

#menu-icon {
  display: none; /*el none se pone para cuando la pagina se vea colapsada de forma horizontal (que se vea en celu)*/
} 

#menu-icon {
  font-size: 35px;
  z-index: 101; /*para que este sobre el header*/
  cursor: pointer; /*para que aparezca la manito cuando le ponemos el mouse encima*/
}

#menu-toggle {
  display: none; /*queda en none para que nunca se vea el checkbox (si no se ve el truquito)*/
}

#menu-icon-action {
  display: none; /*para que no se le pueda hacer click a nada*/
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(245.59deg, #14267f 0%, #0d1051 25%, #131313 75%); /*fondo de color degrade fondo color gradiente*/
  position: relative; /*relativo al contenedor (nos permite usar top, bottom, left y right)*/
  display: grid; /* para que el hero se pueda dividir en dos clumnas*/
  grid-template-columns: 1fr 1fr; /*las dos columnas*/
  align-items: center; /*para alinear verticalmente el hero*/
  gap: 2rem; /*haya espacio de 2rem entre las dos columnas*/
}

section {
  padding: 0 8%;
}

.hero-text h5 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
}

.hero-text h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  line-height: 1;
  margin: 0 0 30px; /*arriba derecha izq y bottom*/
}

.hero-text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 80%;
  margin-bottom: 40px;
  line-height: 1.9;
}


.hero-img img {
  width: 400px;
  margin: 10px 0 0 10%; /*para acomodar la foto*/
  height: auto;
  transition: all 5s linear; /*esto hace que sea lineal*/
}

.hero-img img:hover { /*la img se agranda y se hace opaca cuando la tocamos*/
  width: 450px;
  opacity: 0.6;
}

.hero-text a {
  display: inline-block;
  background-color: #4d4dc4;
  border: 1px solid transparent;
  padding: 15px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .5s ease;
}

.hero-text a:hover {
  background-color: transparent;
  border: 1px solid white;
  transform: translate(8px);
  }

.hero-text a.videos {
  background-color: transparent;
  border: 1px solid white;
  margin-left: 20px; /*para que se separen los cuadraditos*/
}

.hero-text a.videos {
  vertical-align: middle;
  margin-right: 5px;
}

.icons {
  position: absolute;
  top: 50vh;
  padding: 0 3%;
  transform: translateY(-50%);
}

.icons i {
  display: block; /*esto es para que se alinien vertical los iconos*/
  margin: 26px 0; /*el margen entre ellos y demas*/
  font-size:  24px; /*tamaño*/
  transition: all .5s ease;
}

.icons i:hover {
  color: #4d4dc4;
  transform: translateY(-5px)
}

.scroll-down {
  position: absolute;
  bottom: 6%;
  right: 3%;
}

.scroll-down i {
  display: block;
  padding: 12px;
  font-size: 25px;
  background-color: #4d4dc4;
  border-radius: 30px;
  transition: all .5s ease;
}

.scroll-down i:hover {
  transform: translateY(-5px);
}


/*aca vamos a hacer mediaqueries para que la web sea responsive*/
@media (max-width:992px){
  section {
    padding: 0 3%;
    transition: .2s;
  }

  .hero-text {
    padding-top: 0;
  }

  .hero-img {
    text-align: center;
  }

  .hero-img img {
     width: 80%;
     margin: 10% 0 0 10%;
  }

  .hero-text p {
    font-size: 70%;
  }

  .icons {
    display: none;
  }

  .scroll-down {
    display: none;
  }

}

@media (max-width: 768px){
  
  .menu-icon-action{
    display: block;
  }

  #menu-icon{
    display: block;
  }

  .hero-text {
    text-align: center;
    padding-top: 100px;
  }

  .hero-img {
    margin: 0;
  }

  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .navlist {
    position: absolute; /*para que se posicione el menu por encima*/
    top: 100%;
    right: -100%;
    width: 200px;
    height: 180px;
    background-color: #040c39e9;
    display: flex; /*para que se comporte como columna*/
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    transition: all .5s ease-out;
  }

  .navlist a {
    display: block; /*esto es para que haya espacio entre linea del menu*/
    margin: 7px 0;
  }

  #menu-toggle:checked + label.menu-icon-action + ul {
    right: 0;
  }

}